<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <link rel="icon" type="image/png" href="gtlogo.png" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>GetTogether</title>
</head>
<body>
    <!-- Navbar -->
    <nav id="navbar">
        <a id="brand" href="#"><span class="emphasize">GetTogether</span></a>
        <div class="links">
            <a class="link" href="index">Home</a>
            <a class="link" href="hello">Profile</a>
            <a class="link" href="/create_meetup">Create Meetup</a>
        </div>
    </nav>
<h1>Create MeetUp</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(size=32) }}
    </p>
    <p>
        {{ form.city.label }}<br>
        {{ form.city(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
<p><a href='/hello'>Cancel</a></p>
</body>
</html>
