<!DOCTYPE html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
        <<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <title>GetTogether</title>
    </head>
<body>
    <!-- Navbar -->
    <nav id="navbar">
        <a id="brand" href="#"><span class="emphasize">GetTogether</span></a>
        <div class="links">
            <a class="link" href="index">Home</a>
            <a class="link" href="hello">Profile</a>
            <a class="link" href="/create_meetup">Create Meetup</a>
        </div>
    </nav>
	<h1>Look for Events</h1>
	<form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.keyword.label }}<br>
            {{ form.keyword(size=32) }}
        </p>
        <p>
            {{ form.sort_by.label }}<br>
            {{ form.sort_by(size=32) }}
        </p>
        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=32) }}
        </p>
        <p>
        	{{ form.location_within.label }}<br>
            {{ form.location_within(size=32) }}
        </p>
        <p>
        	{{ form.price.label }}<br>
            {{ form.price(size=32) }}
        </p>
        <p>
        	{{ form.start_after.label }}<br>
            {{ form.start_after(size=32) }}
        </p>
        <p>
        	{{ form.start_before.label }}<br>
            {{ form.start_before(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
