<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <link rel="icon" type="image/png" href="gtlogo.png" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>GetTogether</title>
</head>
<body>
    <!-- Navbar -->
    <nav id="navbar">
        <a id="brand" href="#"><span class="emphasize">GetTogether</span></a>
        <div class="links">
            <a class="link" href="index">Home</a>
            <a class="link" href="hello">Profile</a>
            <a class="link" href="/create_meetup">Create Meetup</a>
        </div>
    </nav>
<h1>Welcome to GetTogether</h1>
{% if message %}
    <h3>{{message}}</h3>
{% endif %}

{% if current_user.is_anonymous %}
<p>You should <a href='/login'>login!</a></p>
{% else %}
<p>Go to <a href='/hello'>Profile</a></p>
{% endif %}
</body>
</html>
