<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>GetTogether</title>
</head>
<body>
    <!-- Navbar -->
    <nav id="navbar">
        <a id="brand" href="index"><span class="emphasize">GetTogether</span></a>
        <div class="links">
            <a class="link" href="index">Home</a>
            <a class="link" href="hello">Profile</a>
            <a class="link" href="/create_meetup">Create Meetup</a>
        </div>
    </nav>
<h1>GetTogether</h1>
{% block content %}
    <h1>User: {{ user.username }}</h1>
    <hr>
    {% for meet in meet_ups %}
    <p>
    {{ meet.title }}: <b>{{ meet.description }}</b>
    </p>
    {% endfor %}
{% endblock %}

<p>Go to <a href='/hello'>Profile</a></p>
</body>
</html>
