<html>
<h1>Search for Restaurant</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.keyword.label }}<br>
            {{ form.keyword(size=32) }}
        </p>
        <p>
            {{ form.city.label }}<br>
            {{ form.city(size=32) }}
        </p>
        <p>
            {{ form.numberOfRestaruants.label }}<br>
            {{ form.numberOfRestaruants(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>Go to <a href='/hello'>Profile</a></p>
</html>
