<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>GetTogether</title>
</head>
<body>
    <!-- Navbar -->
    <nav id="navbar">
        <a id="brand" href="#"><span class="emphasize">GetTogether</span></a>
        <div class="links">
            <a class="link" href="index">Home</a>
            <a class="link" href="hello">Profile</a>
            <a class="link" href="/create_meetup">Create Meetup</a>
        </div>
    </nav>
<h1>GetTogether</h1>
{% block content %}
    <h1>{{ user.username }}</h1>
    <hr>
    <h2>Meet</h2>
    {{ meet.title }}: <b>{{ meet.description }}</b>
    <br>
    <h2>Events</h2>
    {% if events %}
    {% for event in events %}
    <p>
    <b>{{ event.title }}</b> <br />
Description: {{ event.description }}<br />
Address: {{ event.address }} <br />
    {{ event.city }} <br />
Time: {{ event.time }}<br />
    </p>
    {% endfor %}
    <p><a href='/create_event/{{meet.id}}'>Add a New Event!</a></p>
    <p><a href='/search_eventbrite/{{meet.id}}'>Add a New Eventbrite Event!</a></p>
    <p><a href='/search_yelp/{{meet.id}}'>Add a New Yelp Event!</a></p>
    {% else %}
    <p>You Have No Events For This Meetup! <a href='/create_event/{{meet.id}}'>Create an Event</a></p>
    {% endif %}
{% endblock %}

<p>Go to <a href='/hello'>Profile</a></p>
</body>
</html>
