alembic==1.0.3
blinker==1.4
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cycler==0.10.0
Django==2.1.2
eventbrite==3.3.3
Flask==1.0.2
Flask-Login==0.4.1
Flask-Migrate==2.3.0
Flask-PyMongo==2.2.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
Mako==1.0.7
MarkupSafe==1.1.0
matplotlib==2.2.0
numpy==1.14.0
pymongo==3.7.2
pyparsing==2.2.0
python-dateutil==2.7.5
python-dotenv==0.9.1
python-editor==1.0.3
pytz==2018.3
rauth==0.7.3
requests==2.20.1
scipy==1.0.0
six==1.11.0
SQLAlchemy==1.2.14
urllib3==1.24.1
virtualenv==16.0.0
Werkzeug==0.14.1
WTForms==2.2.1
